<!doctype html>
<html lang="en">

<head>
  <title>title</title>
  <meta name="description" content="description">
  <meta name="keywords" content="keywords">
  <!-- 这里有个坑，html引用html，需要在语句前加html-loader，同时去掉webpack中全局的html-loader配置(已设置好) -->
  <!-- 两种方式引入模板 1、如下用 '$' 引入 2、如 footer-common 的引入方式 -->
  <!-- 为了避免和 后端模板冲突 尽量用 第二种方式 -->
  <%= require('html-loader!./layout/header-common.html') %>
</head>

<body id="css-zen-garden">
<!-- body 主体 -->
<div class="xxx-body-main">
  <!-- 顶部导航 -->
  <div class="xxx-nav-header-wrap">
    <div class="xxx-nav-header-main">
      <div class="nav-header__hd">
        <div class="nav-header__hd-title">
          <h4 class="title h4-title">
            <span class="icon icon-arrow"></span>
          </h4>
        </div>
      </div>
      <div class="nav-header__bd"></div>
      <div class="nav-header__ft"></div>
    </div>
  </div>

  <!-- 头部 -->
  <div class="xxx-header-wrap">
    <div class="xxx-header-main">
      <div class="header__hd"></div>
      <div class="header__bd"></div>
      <div class="header__ft"></div>
    </div>
  </div>

  <!-- banner 图 -->
  <div class="xxx-banner-wrap">
    <div class="xxx-banner-main">
      <div class="banner__hd"></div>
      <div class="banner__bd"></div>
      <div class="banner__ft"></div>
    </div>
  </div>

  <!-- 内容部分 -->
  <div class="xxx-content-wrap">
    <div class="xxx-content-main">
      <div class="article-wrap">
        <div class="article-main">
          <div class="article-list">
            <div class="article-item">
              <div class="article-item__hd"></div>
              <div class="article-item__bd"></div>
              <div class="article-item__ft"></div>
            </div>
            <div class="article-item">
              <a href="javascript:;" class="article-item-link">
                <div class="article-item__hd"></div>
                <div class="article-item__bd"></div>
                <div class="article-item__ft"></div>
              </a>
            </div>
          </div>

          <div class="abc-wrap">
            <div class="abc-main">
              <div class="abc__hd"></div>
              <div class="abc__bd"></div>
              <div class="abc__ft"></div>
            </div>
          </div>
          <div class="def-wrap">
            <div class="def-main">
              <div class="def__hd"></div>
              <div class="def__bd"></div>
              <div class="def__ft"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="aside-wrap">
        <div class="aside-main">
          <div class="aside-list">
            <div class="aside-item">
              <div class="aside-item__hd"></div>
              <div class="aside-item__bd"></div>
              <div class="aside-item__ft"></div>
            </div>
            <div class="aside-item">
              <div class="aside-item__hd"></div>
              <div class="aside-item__bd"></div>
              <div class="aside-item__ft"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="xxx-footer-wrap">
    <div class="xxx-footer-main">
      <div class="footer__hd"></div>
      <div class="footer__bd"></div>
      <div class="footer__ft"></div>
    </div>
  </div>

  <!-- 底部导航 -->
  <div class="xxx-nav-footer-wrap">
    <div class="xxx-nav-footer-main">
      <div class="nav-footer__hd"></div>
      <div class="nav-footer__bd"></div>
      <div class="nav-footer__ft"></div>
    </div>
  </div>
</div>
登录页

<%= require('html-loader!./layout/footer-common.html') %>
</body>
</html>